header {
  overflow: hidden;
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

header a {
  text-decoration: none;
  color: #000;
}

header .logo {
  font-size: xx-large;
  display: flex;
  justify-content: start;
  font-family: bleeding-cowboys;
}

header .center {
  font-size: xx-large;
  margin-top: 20px;
}

header .center a {
  padding: 10px;
  font-family: blue-screens;
  text-transform: uppercase;
}

header .center a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1600px) {
  header a {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  header {
    display: block;
    text-align: center;
    border-bottom: 1px solid #000;
  }

  header {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  header .center {
    display: flex;
    flex-direction: column;
  }

  header .logo {
    text-align: center;
  }
}
