body {
  background: url('../../images/backgrounds/about.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.description {
  margin: 50px auto;
  text-align: center;
  max-width: 70rem;
  font-family: roboto;
  font-size: 1.4rem;
  font-weight: 800;
}