body {
  background: url('../../images/backgrounds/forum.png');

  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.forum-form {
  margin: 4rem 10rem;
  border-radius: 55px;
  background: rgba(101, 101, 101, 0.7);
  padding: 10px;
  text-align: center;
  max-width: 450px;
}

.forum-form h2 {
  font-size: 3rem;
  color: #fff;
}

.forum-form input {
  font-size: 1.6rem;
  padding: 1.4rem;
  margin-top: 1rem;
  width: 60%;
}

.forum-form textarea {
  font-size: 1.6rem;
  padding: 1.4rem;
  margin-top: 1rem;
  width: 60%;
  height: 1000px;
  resize: none;
}