body {
  background: url('../../images/backgrounds/main.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.preview {
  display: block;
  margin-left: 30px;
  margin-top: 70px;
  max-width: 500px;
  text-align: center;
}

.preview h1 {
  font-family: bleeding-cowboys;
  font-size: 5rem;
  font-weight: 500;
}

.preview h1 a {
  text-decoration: none;
  color: #000;
}

.preview p {
  font-family: adomino;
  font-style: normal;
  font-size: 2rem;
}

.preview button {
  margin-top: 20px;
  padding: 5px 20px;
  font-size: 2rem;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  font-family: blue-screens;
}

.preview button:hover {
  color: #fff;
  background-color: #000;
}